
.portafolio{
    width: 32%;
    position: absolute;
    top: 210%;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.portafolio h1{
    
    font-size: 50px;
    color: #06e9a5;
    padding: 5%;

}

.portafolio p{

    padding: 5%;
    font-size: 23px;
    color: var(--azul-letras);
}

.portafolio span{
  color: yellow;
}




*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Roboto Mono', monospace;

}

:root{
    --morado-claro: #643695;
    --morado-claro-letra: #bc9ae1;
    --morado: #9b43ff;
    --morado-oscuro: #450ba2;
    --jade: #04A777;
    --jade-claro: #06e9a5;
    --azul-letras: #ffffff;
    --azul-fondo: #211B40;
}

::selection{
    background-color: var(--jade-claro);
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-behavior: 3s;
    
}

section{
    scroll-snap-align: start;
    scroll-behavior: smooth;
    scroll-behavior: 3s;
}

body{
    background-color: var(--azul-fondo)
}

.container{

        position: relative;
        z-index: 99;
}



#particles-js{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
    
}
header nav a{
    font-size: 20px;
    padding-left: 1rem;
   color: var(--morado-claro-letra);
   
}

header nav a:hover{
    transition: .5s;
   color: var(--jade-claro);
}

.espacio1{
    position: absolute;
    width: 1%;
    height: 34%;
}

.espacio2{
    position: absolute;
    width: 1%;
    height: 34%;
    padding-bottom: 25vh;
    top: 205%;
    margin-bottom: 2%;
}




                /* INICIO */


.inicio{
    width: 60%;
    height: 100vh;
    padding: 0rem 0rem 2rem 2rem;
    margin-top: 25vh;
    position: absolute;
}

.inicio h1{
    font-size: 6rem;
    color: var(--morado);
}

.inicio span{
    color: var(--jade-claro);
}

.inicio h3{
    font-size: 3rem;
    color: var(--azul-letras);
}


.inicio p{
    margin-top: 5vh;
    font-size: 1.5rem;
    color: var(--azul-letras);
}

.inicio .cv p{
    color: #06e9a5;
}

.contacto {
    margin-top: 5vh;
    position: absolute;
    top: 46%;
    left: 3%;
    display: flex;
    width: 40%;
}


.contacto .jmcure2{
  position: absolute;
    top: 40%;
    left: 80%;
    color: var(--jade-claro);
}

.contacto a{
    color: var(--azul-letras);
    width: 30%;

}


.contacto svg{
    width: 50%;
    fill: #04A777;
}




                    /* ABOUT ME */



.about-me{
    width: 64%;
    height: 100vh;
    margin-top: 15vh;
    padding: 5rem 0rem 2rem 2rem;
    position: absolute;
    top: 87%;
}

.about-me h1{
    font-size: 3rem;
    color: var(--morado);
}

.about-me p{
    margin-top: 6vh;
    font-size: 1.5rem;
    color: var(--azul-letras);
}

.about-me h4{
    color: yellow;
    font-size: 1.3rem;
    margin-top: 5vh;
}

.about-me span{
    color: var(--jade-claro);
}








                   /*  PROYECTS AND SKILLS */



.proyects-and-skills{
    width: 57%;
    height: 100vh;
    color: var(--azul-letras);
    margin-top: 15vh;
    position: absolute;
    top: 199%;
    left: 36%;
    overflow: hidden;
}



.proyects-and-skills .proyects-1-4 a img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.p1 {
    width: 43%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}



.p2 {
    width: 43%;
    margin-left: 3%;
    margin-right: 2%;
    margin-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
}






.p3 {
    width: 43%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
}





.p4 {
    width: 43%;
    margin-left: 3%;
    margin-right: 2%;
    margin-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
}



.proyects-and-skills .proyects-5-8 a img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}




.proyects-1-4{
    background-color: #06e9a500;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0%;
    transition:ease-in .7s;
}


.p-1-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 0 2% 0% 2%;
}

.p-3-4{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 0 2% 0% 2%;
}




.proyects-5-8{
    background-color: #06e9a500;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 100%;
    transition:ease-in .7s;
}


.p-5-6 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 0 2% 0% 2%;
}

.p-7-8{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 0 2% 0% 2%;
}





.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor figure{
   position:relative;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}
img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.481);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}
.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 50px;
    margin-bottom: 15px;
}


.contenedor figure:hover > .capa .h3-quenova{
  margin-top: 30px;
  margin-bottom: 5px;
}


.contenedor figure:hover > img{
    transform: scale(1.3);
}
.capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}


.capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 260px;
    margin: auto;
}





.btn-desplazar-proyectos{
    width: 100%;
    height: 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 82%;
    
    
    
}

.btn-1{
  background-color: var(--jade-claro);
   width: 4%;
   height: 2rem;
   margin-left: 2%;
   border-radius: 50%;
   cursor: pointer;
   transition: .6s;
   
}

.btn-1:hover{
    background-color: yellow;
    transition: .4s;
}
.btn-2{
    background-color: var(--jade-claro);
     width: 4%;
     height: 2rem;
     margin-left: 2%;
     border-radius: 50%;
     cursor: pointer;
     transition: .4s;
  }
   .btn-2:hover{
    background-color: yellow;
    transition: .6s;
  }




                       /*  CONTACT ME */


form{
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 358px;
    flex-direction: column;
    gap: 35px;
    border-radius: 25px;
    background-color: var(--morado-claro-letra);
    border-radius: 20px;

}


.contact-me{
    position: absolute;
    padding-top: 20vh;
    top: 308%;
    left: 38.5%;
    height: 100vh;
}


.singup {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-top: 1.5em;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 457px;
    width: 358px;
    flex-direction: column;
    gap: 35px;
    border-radius: 25px;
    background-color: var(--morado-claro-letra);
    box-shadow: 20px 20px 27px #7d1bf430, -20px -20px 27px #7d1bf430;
    border-radius: 37px;
  }
  
  .inputBox,
  .inputBox1 {
    position: relative;
    width: 290px;
  }

  
  
  
  .inputBox input,
  .inputBox1 input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
  }
  
  .inputBox span,
  .inputBox1 span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
  }
  
  .inputBox input:valid~span,
  .inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  
  .inputBox1 input:valid~span,
  .inputBox1 input:focus~span {
    transform: translateX(156px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  
  .inputBox input:valid,
  .inputBox input:focus,
  .inputBox1 input:valid,
  .inputBox1 input:focus {
    border: 2px solid #000;
    border-radius: 8px;
  }
  
  .enter {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 3em;
  }
  
  .enter:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }





  /* RESPONSNIVE */



  @media(max-width:1920px){
    
    html{
        font-size:100%;
    }

    .btn-1,.btn-2{

        height: 2.5rem;
    }

  }

  @media(max-width:1680px){
    
    html{
        font-size: 95%;
    }

    .btn-1,.btn-2{

        height: 2.5rem;
    }
  }

  @media(max-width:1600px){
    
    html{
        font-size: 90%;
    }
  }

  @media(max-width:1440px){
    
    html{
        font-size: 85%;
    }
  }

  @media(max-width:1366px){
    
    html{
        font-size: 80%;
    }
  }

  @media(max-width:1280px){
    
    html{
        font-size: 75%;
    }
  }

  @media(max-width:1024px){
    
    html{
        font-size: 70%;
    }
  }

  @media(max-width:768px){
    
    html{
        font-size: 65%;
    }
  }


  @media(max-width:400px){
    
    html{
        font-size: 60%;
    }
  }


  @media(max-width:320px){
    
    html{
        font-size: 55%;
    }
  }
  





  .main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card1 {
    width: 70px;
    height: 70px;
    outline: none;
    border: none;
    background: rgb(192, 0, 0);
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
  }
  
  .card2 {
    width: 70px;
    height: 70px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .twitter {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
  }
  
  .card3 {
    width: 70px;
    height: 70px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .github {
    margin-top: -.6em;
    margin-left: 1.2em;
    fill: #03A9F4;
  }
  
  .card4 {
    width: 70px;
    height: 70px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .discord {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
  }
  
  .card1:hover .instagram {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
  }
  
  .card2:hover .twitter {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
  }
  
  .card3:hover .github {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
  }
  
  .card4:hover .discord {
    fill: white;
  }